.body {
  font-family: Verdana, Arial,Helvetica, sans-serif;
}
.btn-sm {
    width: 50%;
    cursor: pointer;
    color: white;
  }
  @media (max-width: 800px) {
    .btn-sm {
      width: 80%;
    }
  }
.label {
  display: none;
}
.slcc1 {
  background-color: #0078c8;
}
.slcc2 {
  background-color: #ffce00;
}
.slcc3 {
  background-color: #00abe1;
}
.active {
  background-color: #003865;
}
.slcc1-font {
  color: #0078c8;
}